@import "../halo";

/* Define your theme modifications inside next mixin */
@mixin com_company_office-halo-ext {
  @include halo;

  .applicant-penalty {
    /*font-weight: bold;*/
    color: white;
    background-color: indianred;
  }

  .worker-penalty  {
    /*font-weight: bold;*/
    color: black;
    background-color: tomato;
  }

  .dialog-prompt {
    color: blue;
    font-weight: bold;
    text-align: center;
  }

  .table-row-marked {
    color: brown;
    font-weight: bold;
  }
}