@import "../halo";

/* Define your theme modifications inside next mixin */
@mixin com_company_office-halo-ext {
  @include halo;

  .name-field {
    background-color: lightyellow;
  }

  .dialog-prompt {
    color: blue;
    font-weight: bold;
    text-align: center;
  }

  .table-row-marked {
    color: brown;
    font-weight: bold;
  }
}